:root {
  --primary: #fdfbfd;
  --secondary: rgb(8, 10, 10);
  --highlight: #7AFFB6;
  --accent: rgb(79, 93, 104);
  --neutral: #879999;
}

body {
  background-color: #0dd348;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
}

/* these style the link on the decorative hero section */
.btn {
  background-color: var(--accent); 
  text-decoration: none;
  padding: 0.5rem;
  color: var(--neutral);
  border-radius: 10%;
}

h3 {
  color: var(--primary);
}

img {
  border: 10px solid var(--secondary);
  width: 100px;
  height: 100px;
  border-radius: 25%;
  box-shadow: none;
}

ul {
  list-style: none;
}

/* this resizes and positions the hamburger icon for mobile view navigation expansion */
nav .fas {
  font-size: 1.8em; /* 48px - Gives a nice 'clickable' target as per: https://material.io/design/layout/spacing-methods.html#touch-targets */
  position: absolute;
  transform: translateX(90px);
}

a {
  text-decoration: none;
}

nav {
  min-height: 72px;
}

nav ul {
  text-align: center;
}

nav li {
  padding: 15px
}

#blogDiv {
  font-family: 'Questrial', sans-serif;
}

.entryDiv {
  border: 2px solid pink;
  margin: 20px;
  font-size: 12px;
}

.entryDetails {
  font-size: 10px;
}


footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 8px;
}

/* hide nav links, class will be removed later with JS */
.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

@media screen and (min-width: 768px) {

  nav ul {
      display: flex;
      justify-content: space-around;
    }

  .is-hidden--tablet {
      font-size: 0;
      height: 0;
      display: none;
  }

  .is-shown--tablet {
      height: 100%;
      font-size: initial;
  }

  section p {
      max-width: 600px;
    }

}

@media screen and (min-width: 1024px) {
  header { 
      display: flex;
      flex-direction: row;
      margin-right: 1em;
      padding: .5em;
  }

  .hero {
      height: 40vh;
  }

  section,
  .section-container {
      display: flex; 
  }

  section {
      
      flex-direction: column;
  }

  .section--btn {
      max-width: 150px;
      text-align: center;
  }

  section p:last-of-type {
      margin-bottom: auto;
  }

}